pipeline/pl_copy_data.json
{
	"name": "pl_copy_data",
	"properties": {
		"activities": [
			{
				"name": "lk_jobs",
				"description": "Read the dbo.adf_control table for jobs to run.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT group_label\n\t,source_datalake_container\n\t,source_datalake_path\n       ,target_db_schema\n       ,target_db_table\nFROM dbo.adf_control\nWHERE is_active_flag = 'Y'",
						"queryTimeout": "02:00:00",
						"isolationLevel": "ReadUncommitted",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sqlserver",
						"type": "DatasetReference",
						"parameters": {
							"p_schema": "dbo",
							"p_table": "adf_control"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "fe_job_entry",
				"description": "For each job entry in adf.dbo.adf_control, dynamically build and execute the pipeline.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "lk_jobs",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('lk_jobs').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "cp_data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@item().source_datalake_path",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "SqlServerSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": true,
								"logSettings": {
									"enableCopyActivityLog": true,
									"copyActivityLogSettings": {
										"logLevel": "Warning",
										"enableReliableLogging": false
									},
									"logLocationSettings": {
										"linkedServiceName": {
											"referenceName": "ls_adls2",
											"type": "LinkedServiceReference"
										}
									}
								},
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_adls2_csv",
									"type": "DatasetReference",
									"parameters": {
										"p_container": {
											"value": "@item().source_datalake_container",
											"type": "Expression"
										},
										"p_path": {
											"value": "@item().source_datalake_path",
											"type": "Expression"
										},
										"p_filename": "none"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sqlserver",
									"type": "DatasetReference",
									"parameters": {
										"p_schema": {
											"value": "@item().target_db_schema",
											"type": "Expression"
										},
										"p_table": {
											"value": "@item().target_db_table",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "sp_save_jobstats",
							"description": "Save the job information statistics like duration",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "cp_data",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[save_df_run_stats]",
								"storedProcedureParameters": {
									"CopyActivity_End_Time": {
										"value": {
											"value": "@{utcNow()}",
											"type": "Expression"
										},
										"type": "String"
									},
									"CopyActivity_queuingDuration_in_secs": {
										"value": {
											"value": "@{activity('cp_data').output.executionDetails[0].detailedDurations.queuingDuration}",
											"type": "Expression"
										},
										"type": "String"
									},
									"CopyActivity_Start_Time": {
										"value": {
											"value": "@{activity('cp_data').output.executionDetails[0].start}",
											"type": "Expression"
										},
										"type": "String"
									},
									"CopyActivity_transferDuration_in_secs": {
										"value": {
											"value": "@{activity('cp_data').output.executionDetails[0].detailedDurations.transferDuration}",
											"type": "Expression"
										},
										"type": "String"
									},
									"copyDuration_in_secs": {
										"value": {
											"value": "@activity('cp_data').output.copyDuration",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataFactory_Name": {
										"value": {
											"value": "@{pipeline().DataFactory}",
											"type": "Expression"
										},
										"type": "String"
									},
									"effectiveIntegrationRuntime": {
										"value": {
											"value": "@{activity('cp_data').output.effectiveIntegrationRuntime}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Execution_Status": {
										"value": {
											"value": "@{activity('cp_data').output.executionDetails[0].status}",
											"type": "Expression"
										},
										"type": "String"
									},
									"No_ParallelCopies": {
										"value": {
											"value": "@{activity('cp_data').output.usedParallelCopies}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline_Name": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsCopied": {
										"value": {
											"value": "@{activity('cp_data').output.rowsCopied}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsRead": {
										"value": {
											"value": "@{activity('cp_data').output.dataRead}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunId": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source_Type": {
										"value": {
											"value": "@{activity('cp_data').output.executionDetails[0].source.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sync_Type": {
										"value": {
											"value": "@{activity('cp_data').output.executionDetails[0].sink.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_dev_sq01",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "sp_save_error_stats",
							"description": "Save any messages or codes in the case of an error",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "cp_data",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[save_df_error_stats]",
								"storedProcedureParameters": {
									"CopyActivity_End_Time": {
										"value": {
											"value": "@{utcNow()}",
											"type": "Expression"
										},
										"type": "String"
									},
									"CopyActivity_errorMessage": {
										"value": {
											"value": "@{activity('cp_data').error.message}",
											"type": "Expression"
										},
										"type": "String"
									},
									"CopyActivity_queuingDuration_in_secs": {
										"value": {
											"value": "@{activity('cp_data').output.executionDetails[0].detailedDurations.queuingDuration}",
											"type": "Expression"
										},
										"type": "String"
									},
									"CopyActivity_Start_Time": {
										"value": {
											"value": "@{activity('cp_data').output.executionDetails[0].start}",
											"type": "Expression"
										},
										"type": "String"
									},
									"CopyActivity_transferDuration_in_secs": {
										"value": {
											"value": "@{activity('cp_data').output.executionDetails[0].detailedDurations.transferDuration}",
											"type": "Expression"
										},
										"type": "String"
									},
									"copyDuration_in_secs": {
										"value": {
											"value": "@activity('cp_data').output.copyDuration",
											"type": "Expression"
										},
										"type": "String"
									},
									"DataFactory_Name": {
										"value": {
											"value": "@{pipeline().DataFactory}",
											"type": "Expression"
										},
										"type": "String"
									},
									"effectiveIntegrationRuntime": {
										"value": {
											"value": "@{activity('cp_data').output.effectiveIntegrationRuntime}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Execution_Status": {
										"value": {
											"value": "@{activity('cp_data').output.executionDetails[0].status}",
											"type": "Expression"
										},
										"type": "String"
									},
									"No_ParallelCopies": {
										"value": {
											"value": "@{activity('cp_data').output.usedParallelCopies}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Pipeline_Name": {
										"value": {
											"value": "@{pipeline().Pipeline}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsCopied": {
										"value": {
											"value": "@{activity('cp_data').output.rowsCopied}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsRead": {
										"value": {
											"value": "@{activity('cp_data').output.dataRead}",
											"type": "Expression"
										},
										"type": "String"
									},
									"RunId": {
										"value": {
											"value": "@{pipeline().RunId}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Source_Type": {
										"value": {
											"value": "@{activity('cp_data').output.executionDetails[0].source.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"Sync_Type": {
										"value": {
											"value": "@{activity('cp_data').output.executionDetails[0].sink.type}",
											"type": "Expression"
										},
										"type": "String"
									},
									"TriggerTime": {
										"value": {
											"value": "@{pipeline().TriggerTime}",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"ErrorCode": {
										"value": {
											"value": "@{activity('cp_data').error.errorCode}",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_dev_sq01",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"concurrency": 1,
		"annotations": []
	}
}